DJANGO_SECRET_KEY=django-inseguro-apenas-desenvolvimento
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
NIVEL_LOG=INFO

API_KEY=[API_KEY]
API_KEY_HEADER=[API_KEY_HEADER]

URL_KEYDB=[URL_KEYDB]
KEYDB_DEFAULT_TIMEOUT=[KEYDB_DEFAULT_TIMEOUT]

GATEWAY_MS_URL=[GATEWAY_MS_URL]
GATEWAY_MS_TIMEOUT=[GATEWAY_MS_TIMEOUT]
API_KEY_GATEWAY_MS=[API_KEY_GATEWAY_MS]
API_KEY_GATEWAY_MS_HEADER=[API_KEY_GATEWAY_MS_HEADER]

SESSAO_TEMPO_INATIVIDADE_SEGUNDOS=[SESSAO_TEMPO_INATIVIDADE_SEGUNDOS]
SESSAO_DURACAO_MAXIMA_SEGUNDOS=[SESSAO_DURACAO_MAXIMA_SEGUNDOS]

# Formato: sistema_id:url,sistema_id:url
# Ex.: 1:http://gateway-ms:8000/identidade-gateway/api/v1/autenticacao/logout-notificacao/
SSO_LOGOUT_CALLBACKS=[SSO_LOGOUT_CALLBACKS]
SSO_LOGOUT_CALLBACK_TIMEOUT=[SSO_LOGOUT_CALLBACK_TIMEOUT]
